@font-face {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/sf-pro-display-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/sf-pro-display-medium.woff2') format('woff2');
}

@font-face {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/fonts/sf-pro-display-semibold.woff2') format('woff2');
}

@font-face {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/sf-pro-display-bold.woff2') format('woff2');
}

@font-face {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url('/fonts/sf-pro-display-heavy.woff2') format('woff2');
}
