@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}
/* Chrome, Safari, Edge */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.scrollbar-custom::-webkit-scrollbar {
  height: 5px; /* 세로/가로 스크롤바 두께 */
}
.scrollbar-custom::-webkit-scrollbar-track {
  background-color: #374151; /* 회색 배경 */
}
